<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product Details Edit Page</title>
</head>

<body>
  <div>
    <form action="http://localhost:5000/productdetailspage?{{.GobItemID}}" method="POST" id="productdetailsentry">
      <label for="pname">Product Name</label>
      <input type="text" id="pname" name="productname" placeholder="Name of product ..." value={{.GobInProductName}} />
      <label for="pdesc">Product Description</label>
      <textarea name="productdesc" id="pdesc" rows="10" cols="30"
        placeholder="Describe about product ...">{{.GobInDescription}}</textarea>
      <fieldset>
        <legend>Quantity Details</legend>
        <div class="row justify-content-start" style="padding-top:10px;">
          <div class="col">
            <label for="vol">Bulk Volume</label>
            <input type="text" id="vol" name="volume" placeholder="Total bulk volume ..."
              value={{.GobInBulkQuantity.GobInVolume}} />
          </div>
          <div class="col">
            <label for="unit">Unit</label>
            <select id="unit" name="unit">
              {{ if eq .GobInBulkQuantity.GobInBQUnits "kg" }}
              <option value="kg" selected>Kg</option>
              {{ else }}
              <option value="kg">Kg</option>
              {{ end }}
              {{ if eq .GobInBulkQuantity.GobInBQUnits "l" }}
              <option value="l" selected>Litres</option>
              {{ else }}
              <option value="l">Litres</option>
              {{ end }}
              {{ if eq .GobInBulkQuantity.GobInBQUnits "pcs" }}
              <option value="pcs" selected>Pieces</option>
              {{ else }}
              <option value="pcs">Pieces</option>
              {{ end }}
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Price Details</legend>
        <div class="row justify-content-start" style="padding-top:10px;">
          <div class="col" style="padding-top:10px;">
            <label for="price">Price Value</label>
            <input type="text" id="price" name="pricevalue" placeholder="Price charged ..."
              value={{.GobInPrice.GobInAmount}} />
          </div>
          <div class="col" style="padding-top:10px;">
            <label for="curr">Currency</label>
            <select id="curr" name="currency">
              {{ if eq .GobInPrice.GobInCurrency "gbp" }}
              <option value="gbp" selected>GBP</option>
              {{ else }}
              <option value="gbp">GBP</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInCurrency "usd" }}
              <option value="usd" selected>USD</option>
              {{ else }}
              <option value="usd">USD</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInCurrency "eur" }}
              <option value="eur" selected>EUR</option>
              {{ else }}
              <option value="eur">EUR</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInCurrency "inr" }}
              <option value="inr" selected>INR</option>
              {{else }}
              <option value="inr">INR</option>
              {{ end }}
            </select>
          </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">
          <div class="col" style="padding-top:10px;">
            <label for="perunit">Base Quantity Value Per Unit</label>
            <input type="text" id="perunit" name="qtyperunit" placeholder="Minimum base quantity that is sold ..."
              value={{.GobInPrice.GobInPerUnit}} />
          </div>
          <div class="col" style="padding-top:10px;">
            <label for="unit">Unit</label>
            <select id="unit" name="baseunit">
              {{ if eq .GobInPrice.GobInPUnits "kg" }}
              <option value="kg" selected>Kg</option>
              {{ else }}
              <option value="kg">Kg</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInPUnits "gm" }}
              <option value="gm" selected>Grams</option>
              {{ else }}
              <option value="gm">Grams</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInPUnits "l" }}
              <option value="l" selected>Litres</option>
              {{ else }}
              <option value="l">Litres</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInPUnits "ml" }}
              <option value="ml" selected>Milli Litres</option>
              {{ else }}
              <option value="ml">Milli Litres</option>
              {{ end }}
              {{ if eq .GobInPrice.GobInPUnits "pcs" }}
              <option value="pcs" selected>Piece(s)</option>
              {{ else }}
              <option value="pcs">Piece(s)</option>
              {{ end }}
            </select>
          </div>
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" value="Save" form="productdetailsentry" />
      </div>
      <div class="submit">
        <a href="http://localhost:5000/productdetailspage">Cancel</a>
      </div>
    </form>
  </div>
</body>

</html>