<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Schedule Entry Page</title>
</head>

<body>
    <div>
        <form action="/action_page.php" method="GET" id="scheduleinfo">
            <label for="startdate">Start Date and Time</label>
            <input type="datetime-local" id="startdate" name="startdate" />
            <label for="enddate">End Date and Time</label>
            <input type="datetime-local" id="enddate" name="enddate" placeholder="Name of product ..." />
            <input type="submit" value="Done" form="scheduleinfo">
        </form>
    </div>
</body>

</html>